@model Core2TP.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Add New Gadget";
}

<section class="gray-section mb-4 pb-4 pt-4">
    <div class="row">
        <div class="col-md-6 offset-3 pt-4 pb-4 pl-3">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>
    </div>
</section>

@*
    CREATE File Upload Steps
    1) Add IFormFile prop to partial class (in DATA.EF/Metadata/Partials.cs)
    2) Modify Create View
        - Add enctype="multipart/form-data" to <form>
        - Comment out textbox <input> for original file property
        - Replace with <input type="file" asp-for="[IFormFile prop name]"
    3) (ONLY DO THIS IF YOU ARE UPLOADING IMAGES - DOES NOT APPLY TO PDFs, DOCs, etc...)
        - Create a folder in the UI project named 'Utilities'
        - Add a class to the Utilities folder named 'ImageUtility'
        - Copy/paste utility code, add using statements seen in this class example (may also need to add NuGet packages)
    4) Add code to handle file upload in Controller
        - BIND the IFormFile prop in the method signature
        - Add logic to process the file upload and save the file name to the db
*@

<div class="row mb-3">
    <div class="col-md-6 offset-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="ProductName" class="control-label d-block text-center"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating">
                <label asp-for="ProductPrice" class="control-label d-block text-center"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating">
                <label asp-for="ProductDescription" class="control-label d-block text-center"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating">
                <label asp-for="UnitsInStock" class="control-label d-block text-center"></label>
                <input asp-for="UnitsInStock" class="form-control" />
                <span asp-validation-for="UnitsInStock" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating">
                <label asp-for="UnitsOnOrder" class="control-label d-block text-center"></label>
                <input asp-for="UnitsOnOrder" class="form-control" />
                <span asp-validation-for="UnitsOnOrder" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating form-check mb-3">
                <label class="form-check-label d-block text-center">
                    <input class="form-check-input" asp-for="IsDiscontinued" /> @Html.DisplayNameFor(model => model.IsDiscontinued)
                </label>
            </div>
            <div class="form-floating">
                <label asp-for="CategoryId" class="control-label d-block text-center">Category</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-floating">
                <label asp-for="SupplierId" class="control-label d-block text-center">Supplier</label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-floating">
                <label asp-for="ProductImage" class="control-label d-block text-center"></label>
                @*<input asp-for="ProductImage" class="form-control" accept="image" name="prodImage"/>*@
                <input asp-for="Image" class="form-control" accept="image/*"/>
                @*<input type="file" name="prodImage" class="form-control" />*@
                <span asp-validation-for="ProductImage" class="text-danger text-center mb-3"></span>
            </div>
            <div class="form-floating">
                <input type="submit" value="Create" class="btn btn-primary btn-lg text-center w-25 d-inline-block" />
                <a asp-action="Index" class="btn btn-secondary text-center w-25 d-inline-block">Back</a>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Shopping</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
